<a href="https://colab.research.google.com/github/bekasylzatybek/lab1/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("Hello world!")

Hello world

In [2]:
if 5 > 2:
    print ("Five is greater than two")

Five is greater than two

In [3]:
#This it comment.
#written in
#more than just one line

"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

In [4]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)
print(type(x))

Sally
<class 'str'>

In [5]:
a = "Python"
b = "is"
c = "awesome"
print(a, b, c)

Python is awesome

In [6]:
d = 5
e = 10
print(d + e)

15

In [7]:
def myfunc():
  global f
  f = "fantastic"

myfunc()

print("Python is " + f)

Python is fantastic

In [ ]:
int1, int2, int3 = -151512, 15, 54
print(type(int1))
print(type(int2))
print(type(int3))
print()

In [ ]:
f1, f2, f3 = 45.54, 96.78, 91.21
print(type(f1))
print(type(f2))
print(type(f3))
print()

In [ ]:
complex1 = 1 + 2j
print(type(complex1))
print()

In [ ]:
a1 = 3
a2 = 4.5
a3 = 1 + 4j

b1 = float(a1)
b2 = int(a2)
b3 = complex(a1)

print (b1)
print (b2)
print (b3)