<a href="https://colab.research.google.com/github/bekasylzatybek/lab1/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
Beka_age = 18
Arlan_age = 19

if (Beka_age < Arlan_age):
  print ("Arlan is older")
else:
  print ("Beka is older")

Arlan is older

In [3]:
print(bool("Hello"))
print(bool(15))

True
True

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [4]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [5]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [6]:
def myFunction() :
  return True

print(myFunction())

True

In [7]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the ***isinstance()*** function, which can be used to determine if an object is of a certain data type:

In [8]:
x = 200
print(isinstance(x, int))

True

In [10]:
print(10 + 5)
print((6 + 3) - (6 + 3))

15
0

List

Items are ordered, changeable, and allow duplicate values.

They are indexed, the first item has index [0], the second item has index [1] etc.

In [11]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

Any data type

In [13]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [14]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [15]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

The search will start at index 2 (included) and end at index 5 (not included).

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [17]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [18]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Change the second element

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

To add an item to the end of the list, use the append() method:

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To insert a list item at a specified index, use the insert() method.

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

To append elements from another list to the current list, use the extend() method.

In [23]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [24]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

Remove Specified Item

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']