<a href="https://colab.research.google.com/github/bekasylzatybek/labs/blob/main/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

It is not content of lab2 however I forgot it at the moment, so do not pay attention to it

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

Argiments and parameters

In [ ]:
'''
From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.
'''

Number of arguments

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

If the number of arguments is unknown, add a * before the parameter name:

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

If the number of keyword arguments is unknown, add a double ** before the parameter name:

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

Default parameter value

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Passing a List as an Argument

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

Positional-Only Arguments

You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.

To specify that a function can have only positional arguments, add , / after the arguments:

In [ ]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [ ]:
def my_function(x):
  print(x)

my_function(x = 3)

3

Keyword only argument

In [ ]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

Recursion

In [ ]:
'''
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.
'''

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

Classes and Objects

In [ ]:
class MyClass:
  x = 5

In [ ]:
p1 = MyClass()
print(p1.x)

5

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

The string representation of an object WITHOUT the __str__() function:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x7e4832d57d50>

The string representation of an object WITH the __str__() function:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
p1.age = 40

In [ ]:
del p1.age

In [ ]:
del p1

In [ ]:
class Person:
  pass

Python Inheritance
Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

Now the Student class has the same properties and methods as the Person class.

In [ ]:
class Student(Person):
  pass

In [ ]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

When you add the __init__() function, the child class will no longer inherit the parent's __init__() function.

Now we have successfully added the __init__() function, and kept the inheritance of the parent class, and we are ready to add functionality in the __init__() function.

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

By using the super() function, you do not have to use the name of the parent element, it will automatically inherit the methods and properties from its parent.

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

p1 = Student("Bekassyl", "Zatybek", 2028)
p1.welcome()

Welcome Bekassyl Zatybek to the class of 2028

Classes and Objects tasks

In [ ]:
#1) Upper case
class String:
    def __init__(self):
        self.text = ""

    def getString(self):
        self.text = input()

    def printString(self):
        print(self.text.upper())
a = String()
a.getString()
a.printString()

beka
BEKA

In [5]:
#2) Area of the square
class Shape:
    def area(self):
        return 0

class Square(Shape):
    def __init__(self):
        self.length = int(input("Enter the length of the square: "))

    def area(self):
        return self.length ** 2
square = Square()
print("The area of the square is:", square.area())

Enter the length of the square: 6
The area of the square is: 36

In [6]:
#3) Area of the rectangle
class Rectangle(Shape):
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width
length = int(input("Enter the length of the rectangle: "))
width = int(input("Enter the width of the rectangle: "))
rectangle = Rectangle(length, width)
print("The area of the rectangle is:", rectangle.area())

Enter the length of the rectangle: 5
Enter the width of the rectangle: 4
The area of the rectangle is: 20

In [14]:
#4) Point operations
import math
class Point:
    def __init__(self, x, y):
        # Convert x and y to floats during initialization
        self.x = int(x)
        self.y = int(y)

    def show(self):
        print(f"Point({self.x}, {self.y})")

    def move(self, new_x, new_y):
        # Convert new_x and new_y to floats before assigning
        self.x = int(new_x)
        self.y = int(new_y)

    def dist(self, other_point):
        return math.sqrt((self.x - other_point.x) ** 2 + (self.y - other_point.y) ** 2)
# Convert input values to floats before creating Point objects
point1 = Point(int(input("Enter the x-coordinate of the first point: ")), int(input("Enter the y-coordinate of the first point: ")))
point2 = Point(int(input("Enter the x-coordinate of the second point: ")), int(input("Enter the y-coordinate of the second point: ")))
# Convert input values to floats before calling move
point1.move(int(input("Enter the new x-coordinate of the first point: ")), int(input("Enter the new y-coordinate of the first point: ")))
point1.show()
point1.dist(point2)

Enter the x-coordinate of the first point: 1
Enter the y-coordinate of the first point: 1
Enter the x-coordinate of the second point: 2
Enter the y-coordinate of the second point: 2
Enter the new x-coordinate of the first point: 2
Enter the new y-coordinate of the first point: 1
Point(2, 1)

1.0

In [16]:
#5) class Account:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited ${amount}. New balance: ${self.balance}")
        else:
            print("Deposit amount must be positive.")

    def withdraw(self, amount):
        if amount > 0:
            if amount <= self.balance:
                self.balance -= amount
                print(f"Withdrew ${amount}. New balance: ${self.balance}")
            else:
                print("Insufficient funds!")
        else:
            print("Withdrawal amount must be positive.")


# Test the Account class
my_account = Account("John Doe", 1000)  # Initial balance $1000
my_account.deposit(500)  # Deposit $500
my_account.withdraw(200)  # Withdraw $200
my_account.withdraw(1500) # Try to withdraw $1500 (overdraft)
my_account.withdraw(-100) # Try to withdraw negative amount
my_account.deposit(-50)  # Try to deposit negative amount
print(f"Final balance: ${my_account.balance}")

Deposited $500. New balance: $1500
Withdrew $200. New balance: $1300
Insufficient funds!
Withdrawal amount must be positive.
Deposit amount must be positive.
Final balance: $1300

In [18]:
#6) Filtering prime numbers from list
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,17, 19, 23, 29]

prime_numbers = list(filter(lambda x: is_prime(x), numbers)) # Using is_prime function
print("Prime numbers:", prime_numbers)

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [19]:
#Funcrions 1

In [23]:
#1) Grams into ounces
import random
def grams_to_ounces(grams):
    ounces = 0.03527396 * grams  # Corrected conversion factor
    return ounces
ounces = grams_to_ounces(int(input("Enter the weight in grams: ")))
print("The weight in ounces is:", ounces)

Enter the weight in grams: 100
The weight in ounces is: 3.527396

In [24]:
#2) Fahrenheit into celcius
def fahrenheit_to_celsius(fahrenheit):
    celsius = (5 / 9) * (fahrenheit - 32)
    return celsius
degree = fahrenheit_to_celsius(int(input("Enter the temperature in Fahrenheit: ")))
print("The temperature in Celsius is:", degree)

Enter the temperature in Fahrenheit: 154
The temperature in Celsius is: 67.77777777777779

In [25]:
#3) Counting chiskens and rabits
def solve(numheads, numlegs):
    for rabbits in range(numheads + 1):
        chickens = numheads - rabbits
        if (4 * rabbits + 2 * chickens) == numlegs:
            return chickens, rabbits
    return "No solution found"
count = solve(int(input("Enter the number of heads: ")), int(input("Enter the number of legs: ")))
print("Number of chickens:", count[0])
print("Number of rabbits:", count[1])

Enter the number of heads: 35
Enter the number of legs: 94
Number of chickens: 23
Number of rabbits: 12

In [28]:
#4) Filtering prime numbers
def filter_prime(numbers):
    def is_prime(num):
        if num <= 1:
            return False
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                return False
        return True
    return list(filter(is_prime, numbers))
list = filter_prime([2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,17, 19, 23, 29])
print(list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [30]:
#5) All possible permutations of string
def string_permutations(string):
    import itertools
    for permutation in itertools.permutations(string):
        print("".join(permutation))
string = string_permutations(input("Enter a string: "))

Enter a string: Bek
Bek
Bke
eBk
ekB
kBe
keB

In [31]:
#6) Reversing the order in sentence
def reverse_sentence(sentence):
    words = sentence.split()
    return " ".join(words[::-1])
sentence = reverse_sentence(input("Enter a sentence: "))
print(sentence)

Enter a sentence: I am doing the lab3
lab3 the doing am I

In [34]:
#7) 3 next to 3
def has_33(nums):
    for i in range(len(nums) - 1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False
# Get input as a string
input_string = input("Enter the list of numbers: ")
# Split the string into a list of numbers
nums = [int(num) for num in input_string.split()]  # Convert each element to int
list1 = has_33(nums)  # Now call has_33 with the list of numbers
print(list1)  # Print the result

Enter the list of numbers: 1 8 5 3 3 5
True

In [35]:
#8) Agent 007
def spy_game(nums):
    found_0s = 0
    for num in nums:
        if num == 0:
            found_0s += 1
        elif num == 7 and found_0s >= 2:
            return True
    return False
list2 = {spy_game([1,2,4,0,0,7,5])}
print(list2)

{True}

In [36]:
#9) Volume of the sphere
def sphere_volume(radius):
    import math
    return (4/3) * math.pi * radius**3
volume = sphere_volume(int(input("Enter the radius of the sphere: ")))
print("The volume of the sphere is:", volume)

Enter the radius of the sphere: 5
The volume of the sphere is: 523.5987755982989

In [37]:
#10) Unique elements in list
def unique_list(input_list):
    new_list = []
    for item in input_list:
        if item not in new_list:
            new_list.append(item)
    return new_list
list3 = unique_list([1,1,1,1,2,2,3,3,3,3,4,5])
print(list3)

[1, 2, 3, 4, 5]

In [38]:
#11) Palindrome or not?
def is_palindrome(text):
    processed_text = "".join(char.lower() for char in text if char.isalnum())  # Remove non-alphanumeric chars and lowercase
    return processed_text == processed_text[::-1]
number = is_palindrome(input("Enter a string: "))
print(number)

Enter a string: 1551
True

In [40]:
#12) Numbers to points
def histogram(integers):
    for num in integers:
        print("*" * num)
number = histogram([2, 3, 6, 5])

**
***
******
*****

In [42]:
#13) Game Guess the number
def guess_the_number():
    secret_number = random.randint(1, 20)
    guesses_taken = 0

    name = input("Hello! What is your name?\n")
    print(f"Well, {name}, I am thinking of a number between 1 and 20.")

    while True:
        try:
            guess = int(input("Take a guess.\n"))
            guesses_taken += 1

            if guess < secret_number:
                print("Your guess is too low.")
            elif guess > secret_number:
                print("Your guess is too high.")
            else:
                print(f"Good job, {name}! You guessed my number in {guesses_taken} guesses!")
                break
        except ValueError:
            print("Invalid input. Please enter a number.")
guess = guess_the_number()

Hello! What is your name?
Beka
Well, Beka, I am thinking of a number between 1 and 20.
Take a guess.
15
Your guess is too high.
Take a guess.
5
Your guess is too low.
Take a guess.
10
Your guess is too low.
Take a guess.
13
Good job, Beka! You guessed my number in 4 guesses!

In [43]:
#Functions 2

In [47]:
movies = [
    {"name": "Usual Suspects", "imdb": 7.0, "category": "Thriller"},
    {"name": "Hitman", "imdb": 6.3, "category": "Action"},
    {"name": "Dark Knight", "imdb": 9.0, "category": "Adventure"},
    {"name": "The Help", "imdb": 8.0, "category": "Drama"},
    {"name": "The Choice", "imdb": 6.2, "category": "Romance"},
    {"name": "Colonia", "imdb": 7.4, "category": "Romance"},
    {"name": "Love", "imdb": 6.0, "category": "Romance"},
    {"name": "Bride Wars", "imdb": 5.4, "category": "Romance"},
    {"name": "AlphaJet", "imdb": 3.2, "category": "War"},
    {"name": "Ringing Crime", "imdb": 4.0, "category": "Crime"},
    {"name": "Joking muck", "imdb": 7.2, "category": "Comedy"},
    {"name": "What is the name", "imdb": 9.2, "category": "Suspense"},
    {"name": "Detective", "imdb": 7.0, "category": "Suspense"},
    {"name": "Exam", "imdb": 4.2, "category": "Thriller"},
    {"name": "We Two", "imdb": 7.2, "category": "Romance"}
]

def is_above_5_5(movie):
    return movie["imdb"] > 5.5

def movies_above_5_5(movie_list):
    return [movie for movie in movie_list if is_above_5_5(movie)]

def movies_in_category(movie_list, category):
    return [movie for movie in movie_list if movie["category"] == category]

def average_imdb_score(movie_list):
    if not movie_list:  # Handle empty list to avoid ZeroDivisionError
        return 0
    imdb_scores = [movie["imdb"] for movie in movie_list]
    return sum(imdb_scores) / len(imdb_scores)

def average_imdb_in_category(movie_list, category):
    category_movies = movies_in_category(movie_list, category)
    return average_imdb_score(category_movies)  # Reuse the average_imdb_score function


# Example usage:
movie1 = movies[0]
print(f"1) Is '{movie1['name']}' above 5.5? {is_above_5_5(movie1)}")

high_rated_movies = movies_above_5_5(movies)
print("\n2) Movies with IMDB above 5.5:")
for movie in high_rated_movies:
    print(f"- {movie['name']} ({movie['imdb']})")

romance_movies = movies_in_category(movies, "Romance")
print("\n3) Romance Movies:")
for movie in romance_movies:
    print(f"- {movie['name']} ({movie['imdb']})")

average_score = average_imdb_score(movies)
print(f"\n4) Average IMDB score of all movies: {average_score:.2f}")

average_romance_score = average_imdb_in_category(movies, "Romance")
print(f"5) Average IMDB score of Romance movies: {average_romance_score:.2f}")

1) Is 'Usual Suspects' above 5.5? True

2) Movies with IMDB above 5.5:
- Usual Suspects (7.0)
- Hitman (6.3)
- Dark Knight (9.0)
- The Help (8.0)
- The Choice (6.2)
- Colonia (7.4)
- Love (6.0)
- Joking muck (7.2)
- What is the name (9.2)
- Detective (7.0)
- We Two (7.2)

3) Romance Movies:
- The Choice (6.2)
- Colonia (7.4)
- Love (6.0)
- Bride Wars (5.4)
- We Two (7.2)

4) Average IMDB score of all movies: 6.49
5) Average IMDB score of Romance movies: 6.44